{#{% extends "_base.html" %}#}
{% extends "_menu_price.html" %}

{% block title %} 기술 지표 {% endblock %}

{% block script %}
	{% load static %} <script src="{% static 'js/indicator.js' %}"> </script>
{% endblock %}

{% block content %}


<div class="search-legend" >

	<form id="indicator_form" action="" method="GET"> <!-- {% url 'indicatorEdit' %}  JS 통하면 무조건 GET으로 해야한다.  -->
		{% csrf_token %} <!-- CSRF 검증에 실패했습니다. 요청을 중단하였습니다.: JS를 통할 때  POST로 보내면 이 에러 발생한다. -->

		종목코드
		<select name="q">
			<option value=""></option>
			{% for c1 in companyList %}
				<option value="{{ c1.company_id }}"
						{% if c1.company_id == request.session.company_id|default:''  %} selected {% endif %}} > {{ c1.company_id }}
				</option>
			{% endfor %}
		</select>

		기간 <input type="text" size=8 name="from_d" value="{{ request.session.from_d|default:'' }}"> ~
			 <input type="text" size=8 name="to_d" value="{{ request.session.to_d|default:'' }}">
	  	<input type="submit" value="검색">
		<input type="button" value="지수 계산" onClick="calIndicator()">

		id(key) <input type="text" name="key_id" size=1 value="16">
		<input type="button" value="지수 수정" onClick="editIndicator()">

		거래일 <input type="text" name="txn_date" id="txn_date" size=8 value="2020-03-17">
		<input type="button" value="전체 재계산" onClick="allRecalIndicator()">

	</form>

</div>


<div class="row block-center board">

	<div class="col-11">

		<div class="row">
			<div class="list-title col-1"><p>종목코드</p></div>
			<div class="list-title col-1"><p>거래일</p></div>
			<div class="list-title col-1"><p>ma5</p></div>
			<div class="list-title col-1"><p>ma10</p></div>
			<div class="list-title col-1"><p>ma20</p></div>
			<div class="list-title col-1"><p>ma60</p></div>
			<div class="list-title col-1"><p>ma120</p></div>
			<div class="list-title col-1"><p>ema5</p></div>
			<div class="list-title col-1"><p>ema10</p></div>
			<div class="list-title col-1"><p>ema20</p></div>
			<div class="list-title col-1"><p>c_hammer3</p></div>
			<div class="list-title col-1"><p>c_doji</p></div>
			<div class="list-title col-1"><p>c_spinning</p></div>
			<div class="list-title col-1"><p>c_red</p></div>
			<div class="list-title col-2"><p>갱신일시</p></div>
		</div>

		{% for myList in curIndicator %}

			<div class="row">
				<div class="list-contents col-1"><p>{{ myList.company_id }}</p></div>
				<div class="list-contents col-1"><p>{{ myList.txn_date|date:"Y-m-d"  }}</p></div>
				<div class="list-contents col-1"><p>{{ myList.ma5 }}</p></div>
				<div class="list-contents col-1"><p>{{ myList.ma10 }}</p></div>
				<div class="list-contents col-1"><p>{{ myList.ma20 }}</p></div>
				<div class="list-contents col-1"><p>{{ myList.ma60 }}</p></div>
				<div class="list-contents col-1"><p>{{ myList.ma120 }}</p></div>
				<div class="list-contents col-1"><p>{{ myList.ema5 }}</p></div>
				<div class="list-contents col-1"><p>{{ myList.ema10 }}</p></div>
				<div class="list-contents col-1"><p>{{ myList.ema20 }}</p></div>
				<div class="list-contents col-1"><p>{{ myList.c_hammer3 }}</p></div>
				<div class="list-contents col-1"><p>{{ myList.c_doji }}</p></div>
				<div class="list-contents col-1"><p>{{ myList.c_spinning }}</p></div>
				<div class="list-contents col-1"><p>{{ myList.c_red }}</p></div>
				<div class="list-contents col-2"><p>{{ myList.upd_d|date:"Y-m-d m:s"  }}</p></div>
			</div>

		{% endfor %}

	</div>

</div>

{% endblock %}

<div class="height-100"></div>