{% extends "_base.html" %}
{#{% extends "_menu_price.html" %}#}

{% block title %} 관심 종목 목록 {% endblock %}

{% block script %}   {% endblock %}

{% block content %}

<div class="row block-center board">

	<div class="col-11">

		<div class="row">
			<div class="list-title col-1"><p> 순 </p></div>
			<div class="list-title col-1"><p>종목코드</p></div>
			<div class="list-title col-2"><p>종목명</p></div>
			<div class="list-title col-2"><p>특이사항</p></div>
			<div class="list-title col-1"><p>사용여부</p></div>
		</div>

		{% for myList in stockList %}

			<div class="row">
				<div class="list-contents col-1"><p>{{ myList.id }}</p></div>
				<div class="list-contents col-1"><p>{{ myList.company_id }}</p></div>
				<div class="list-contents col-2"><p>{{ myList.company_name }}</p></div>
				<div class="list-contents col-2"><p>{{ myList.rmk }}</p></div>
				<div class="list-contents col-1"><p>{{ myList.use_yn }}</p></div>
			</div>

		{% endfor %}
	</div>

</div>

{% endblock %}

<div class="height-100"></div>