{% extends "_base.html" %}

{% block title %} 기술지수 계산 완료 {% endblock %}

{% block content %}
<div style="height: 70px;"></div>
<div class="row block-center">
	<div class="card-box col-8">
		<div class="row">
			<div class="col-12">
				<h3 class="margin-bottom-10"> 기술지수 계산이 완료되었습니다.</h3>

			</div>
		</div>
		<div class="row">
			<div class="col-12 center">
				<input type="button" value="기술지수 화면으로 이동" onClick="location.href='{% url 'home' %}'" />

			</div>
		</div>
	</div>
</div>
{% endblock %}
