{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Stock{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <SCRIPT src="{% static 'js/jquery-3.3.1.min.js' %}" ></SCRIPT>
</head>
<body>
  <header>
    {% comment  %}

    <!-- 장고 표준 auth 사용. 파이참에서는 안 먹힘.
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4\
     mb-3 bg-white border-bottom shadow-sm">
      <a href="{% url 'home' %}" class="navbar-brand my-0 mr-md-auto font-weight-normal">Stock</a>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{% url 'about' %}">소개</a>
        {% if user.is_authenticated %}
          <a class="p-2 text-dark" href="{% url 'logout' %}">로그아웃</a>
        {% else %}
          <a class="p-2 text-dark" href="{% url 'login' %}">로그인</a>
          <a class="btn btn-outline-primary"
            href="{% url 'signup' %}">회원가입</a>
        {% endif %}
      </nav>
    </div>
    -->
    {% endcomment  %}

    <!--allauth 사용 -->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4\
     mb-3 bg-white border-bottom shadow-sm">
      <a href="{% url 'home' %}" class="navbar-brand my-0 mr-md-auto font-weight-normal">홈</a>


      {% block menubar %}

      <ul class="nav nav-tabs">
          <li class="dropdown">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
                Tech Indicator
                <b class="caret"></b>
              </a>
            <ul class="dropdown-menu">
                <p><a href="{% url 'indicatorView' %}">Tech Indicator</a></p>
                <p><a href="{% url 'stockPrice' %}">Price</a></p>
                <p><a href="{% url 'stockList' %}">Company List</a></p>
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
                Transaction
                <b class="caret"></b>
              </a>
            <ul class="dropdown-menu">
              <p><a href="{% url 'stocktxn' %}">거래</a></p>
              <p><a href="{% url 'txnCash' %}">현금입출</a></p>
              <p><a href="{% url 'txnHistory' %}">거래내역</a></p>
              <p><a href="{% url 'txnPeriod' %}">기간손익</a></p>
              <p><a href="{% url 'txnMonthly' %}">월간손익</a></p>
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
                Chart
                <b class="caret"></b>
              </a>
            <ul class="dropdown-menu">

            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
                Market
                <b class="caret"></b>
              </a>
            <ul class="dropdown-menu">

            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
                Backtest
                <b class="caret"></b>
              </a>
            <ul class="dropdown-menu">

              <a href="{% url 'backtestAll' %}">Backtest(All)</a>
              <a href="{% url 'backtestAll' %}">Backtest(Good)</a>
              <a href="{% url 'backtestAll' %}">Simulation</a>


            </ul>
          </li>


          <li class="dropdown">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
                Setup
                <b class="caret"></b>
              </a>
            <ul class="dropdown-menu">

              <p><a href="{% url 'stockChangeHistory' %}">지표산식 변경이력</a></p>
              <p><a href="{% url 'stockCompany' %}">관심종목</a></p>
              <p><a href="{% url 'scoreMaster' %}">점수설정</a></p>
              <p><a href="{% url 'item_all' %}">기술지표 설정</a></p>
              {#<a href="{% url 'item_detail' %}">Item Master Detail</a>#}
            </ul>
          </li>


          <li class="dropdown">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
                Q&A
                <b class="caret"></b>
              </a>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
                Manager
                <b class="caret"></b>
              </a>
            <ul class="dropdown-menu">

                <p><a href="{% url 'about' %}">Company(All)</a></p>
                <p><a href="{% url 'about' %}">Notice)</a></p>
                <p><a href="{% url 'about' %}">DML</a></p>
                <p><a href="{% url 'about' %}">RBAC</a></p>
                <p><a href="{% url 'about' %}">DML</a></p>

            </ul>
          </li>

      </ul>



      {% endblock menubar %}

       <nav class="my-2 my-md-0 mr-md-3">


            <a  href="{% url 'book_list' %}">Books</a>
            <a href="{% url 'about' %}">소개</a>
            {% if user.is_authenticated %}
              <a href="{% url 'account_logout' %}">로그아웃</a>
            {% else %}
              <a href="{% url 'account_login' %}">로그인</a>
              <a class="btn btn-outline-primary"
                href="{% url 'account_signup' %}">Sign Up</a>
            {% endif %}


        </nav>

    </div>

    {% block script %}

    {% endblock script %}

  </header>

  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>
  <!-- JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>