{% extends "_base.html" %}
{#{% extends '_menu_setup.html' %}#}

{% block title %} Score Master {% endblock %}

{% block script %}   {% endblock %}

{% block content %}


    <div class="btn-group">
        <a href="{% url 'addScoreMaster' %}" class="btn btn-info"> 기술항목 추가</a>
    </div>
    <p></p>
    <table class="table">
        <thead>
            <tr>

                <th scope="col">카테고리</th>
                <th scope="col">번호</th>
                <th scope="col">기술지표</th>
                <th scope="col">명칭</th>
                <th scope="col">가점기준</th>
                <th scope="col">감점기준</th>
                <th scope="col">기준치1</th>
                <th scope="col">기준치2</th>
                <th scope="col">수정</th>
                <th scope="col">삭제</th>
            </tr>
        </thead>
        <tbody>
            {% for c1 in scoreMaster %}
                <tr>
                    <td>{{c1.category}}</td>
                    <td>{{c1.seq_id}}</td>
                    <td><a href="{% url 'detailScoreMaster' c1.id %}">{{c1.item}}</a></td>
                    <td>{{c1.item_desc}}</td>
                    <td>{{c1.plus}}</td>
                    <td>{{c1.minus}}</td>
                    <td>{{c1.criteria1}}</td>
                    <td>{{c1.criteria2}}</td>
                    <td><a href="{% url 'updateScoreMaster' c1.id %}" class="btn btn-success btn-sm">수정</a></td>
                    <td><a href="{% url 'deleteScoreMaster' pk=c1.id %}" class="btn btn-danger btn-sm">삭제</a></td> {# 버튼 class는 bootstrap 용이다 #}

                </tr>
            {% endfor %}
        </tbody>
    </table>


    {% block pagination %}

      {% if is_paginated %}

        <ul class="pagination justify-content-center pagination-sm">
            {% if page_obj.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="{% url 'stockCompany' %}?page={{ page_obj.previous_page_number }}" tabindex="-1">이전</a>
              </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">처음</a>
            </li>
            {% endif %}

            {% for object in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == forloop.counter %}disabled{% endif %}">
                    <a class="page-link" href="{{ request.path }}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
              <li class="page-item">
                  <a class="page-link" href="{% url 'stockCompany' %}?page={{ page_obj.next_page_number }}">다음</a>
              </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">마지막</a>
            </li>
            {% endif %}
        </ul>
      {% endif %}
    {% endblock %}

{% endblock %}