{% extends "_base.html" %}
{#{% extends '_menu_txn.html' %}#}

{% block title %} 월간 손익 {% endblock %}

{% block script %}   {% endblock %}

{% block content %}


    <form id="form_txn" action="{% url 'txnPeriod' %}" method="post">
		{% csrf_token %}
        종목코드:
        <input type="text" name="company_id" value="{{request.session.company_id|default:''}}" size="8" />-
        조회기간:
        <input type="text" name="date_from" value="{{request.session.date_from|default:'2018-01-01'}}" size="8" />-
        <input type="text" name="date_to" value="{{request.session.date_to|default:'2099-12-31'}}" size="8" />
        <input type="submit" value="조회"/>
    </form>


    <p></p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">종목코드</th>
                <th scope="col">생애손익</th>
                <th scope="col">보유량</th>
                <th scope="col">평균단가</th>
                <th scope="col">현재가</th>
                <th scope="col">보유평가액</th>
                <th scope="col">매수량</th>
                <th scope="col">매수액</th>
                <th scope="col">매도량</th>
                <th scope="col">매도액</th>
                <th scope="col">거래비용</th>
                <th scope="col">거래손익</th>
                <th scope="col">손익률(%)</th>
            </tr>
        </thead>
        <tbody>
            {% for c1 in txn_period %}
                <tr>
                    <td>{{c1.company_id}}</td>
                    <td>{{c1.company_id}}</td>
                    <td>{{c1.qty}}</td>
                    <td>{{c1.avg_price}}</td>
                    <td>{{c1.qty_buy}}</td>
                    <td>{{c1.amt_buy}}</td>
                    <td>{{c1.qty_sell}}</td>
                    <td>{{c1.amt_sell}}</td>
                    <td>{{c1.txn_fee}}</td>
                    <td>{{c1.profit}}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}